
# Dependency directories
node_modules/

# This folder is not needed actually
.robowr

# dist folder
dist/

# do not add jest coverage
coverage/

# folder files
data_folder/

# Image files
*.jpg
*.png

# MacOS
.DS_Store
.idea/

# TypeScript compiled .map files
*.map  
  